src/Android/LevegoBicikli/LevegoBicikli/bin
src/Android/LevegoBicikli/UsbSerial/obj
src/Android/LevegoBicikli/UsbSerialForAndroid/bin
src/Android/LevegoBicikli/.vs
src/Android/LevegoBicikli/LevegoBicikli/obj
src/Android/LevegoBicikli/UsbSerialForAndroid/obj
