:root
{
	--color-unknown: #00B7C3;
	--color-ok: #10893E;
	--color-error: #E81123;
	
	--color-graph: #038387;
	--color-progress: #038387;
	--color-button: #8764B8;
	--color-button-pressed: #744DA9;
}

#background
{
    position: absolute;
    left: 1em;
    right: 1em;
    top: 50%;
    z-index: -1;
    opacity: 0.2;
    transform: translateY(-50%);
}

#status
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;

    background-color: var(--color-unknown);
}

#current-power
{
    position: absolute;
    top: 16px;
    bottom: 48px;
    left: 16px;
    right: calc(50% + 16px);
    border: 3px solid #333333;

    font-size: 100px;
    text-align: center;
    line-height: 300px;
}

#game
{
    position: absolute;
    top: 16px;
    bottom: 48px;
    right: 16px;
    left: calc(50% + 16px);
    border: 3px solid #333333;
    
}

#score
{
	display: block;

    font-size: 100px;
    text-align: center;
    line-height: 300px;
}

#startstop
{
	position: absolute;
	bottom: 32px;

    display: block;
    background-color: var(--color-button);
	width: 100%;
	height: 48px;
	border: 0;
	color: #FFFFFF;
	font-size: 24px;
}

#startstop:active
{
    background-color: var(--color-button-pressed);
}

#progressbar
{
	position: absolute;
	bottom: 0;
	
	display: block;
	width: 100%;
	height: 32px;
	background-color: var(--color-progress);
}